// TODO: Form needs to display as grid

// -------Fonts/colors--------------------
// font-family: 'Scope One', serif;
// font-family: 'Open Sans Condensed', sans-serif;
// #337ab7
// // -----------------------------General Styling---------------------------------
body{
    background-color: white;
    color: black;
    font-family: 'Advent Pro', sans-serif; 
}
.slat-title{
    padding-top:25px;
    color: #3C373E;
}
.butt{
    margin-top: 8px;
}
//-------------------------------NAV BAR------------------------------
nav{
    a {
        color: #373239;
        font-size: 1.2em;
    }
}

.nav-item.nav-link.active:hover{
    color: #373239; 
    // border-bottom: 1px solid #DAD426;
    border-left: 1px solid #DAD426;
    font-size: 1.5em;
    // background-color: white;
}
.navbar{
    margin-bottom: 0px;
    min-height: 40px;
}
.home-title{
    font-size: 6em;
    margin-bottom: 20px;
    // text-shadow: 1px 1px 1px white;
}

// -------------------------------NAV - BURGER----------------------------
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #DAD426;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
  background: #cdcdcd;
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 1em;
  z-index: 100;
  color: white;
  display: block;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

// //-------------------------------HOME------------------------------
.slat{
    padding-top: 0px;
}
.start{
    margin-top:25px;
    margin-bottom:25px;
}
.start-today{
    color: #3C373E;
    cursor: pointer;
}

//-----------------------------------REGISTER----------------------------------

.reg-slat{
    color: #3C373E;
}

.have-acct{
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid rgb(209, 205, 211);
}
.reg-pass{
    margin-top: 10px;
}

//------------------------------------Login-------------------------------------

.new-here{
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid rgb(209, 205, 211);

}

// // ---------------------------------Search-------------------------------------
.then, .or{
    border-top: 1px solid rgb(209, 205, 211);
    padding-top: 12px;
}

.allAPI{
    display: inline;
}

.search-btn{
    margin-top: 12px;
    margin-bottom: 20px;
}
// --------------Manual Inputs--------------------

.manualForm{
    background-color: white;    
}

// h1{
//     color: #373239;
//     padding-left: 15px;
//     color: rgba(255, 255, 255, 0.883);
// }

// h3{
//     border-bottom: 1px solid #E1DB2B;
//     font-family: 'Advent Pro', sans-serif;
//     color: rgba(255, 255, 255, 0.883);
// }

// h4{
//     padding-left: 15px;
//     font-family: 'Advent Pro', sans-serif;
//     color: rgba(255, 255, 255, 0.883);
// }

// p{
//     font-family: 'Advent Pro', sans-serif;
//     color: rgba(255, 255, 255, 0.883);
// }


// // -----------------------------------FOOD API RESULTS
.foodBox{
    margin: 20px;
    border-radius: 5px;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.food-results{
    height: 100px;
}

.cardLine{
    display: inline;
}

.foodDeets{
    font-size: .75em;
}
 
.list-group-item:nth-child(even){
    background-color:#3C373E;
    color: white;
}
.list-group-item:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.603);
    color: black;
}

.list-group-item:hover:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.801);
    border: 1px solid blue;
    box-shadow: 10px 10px 10px 10px rgba(52, 107, 170, 0.794);
}

.list-group-item:hover:nth-child(even){
    background-color: rgba(151, 145, 145, 0.829);
    box-shadow: 3px 3px 3px 3px rgba(240, 233, 48, 0.794);
}


// ------------------------Progres---------------------

#graphContainer{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 800px;
}

#doughnut{
    padding-top: 20px;
    height: 400px;
    width: 800;
}


#lineContainer{
    padding-top: 20px;
    height: 500;
    width: 1000px;
}

// #addNutrients{
//     margin-top: 8px;
// }

// #regBtn{
//     margin-top: 8px;
// }



// -------------------ROTATE-----------------

//   .box:hover {
//     transform: rotate(360deg);
//   }
//   .rotate {
//     transition: all 0.1s ease-in-out;
//   }
//   .rotate:hover {
//     transition: all 1s ease-in-out;
//   }

// -------------------ROTATE on Button Click-----------------

// .box {
//     margin: 20px auto;
//   }
//   .circle {
//     transform: rotate(1080deg);
//     margin: 20px auto;
//   }
//   .rotate {
//     transition: all 1.5s ease-in-out;
//   }







 
