<nav role="navigation" class="navbar" ng-controller="NavCtrl">
    <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
            <ul id="menu" class="nav navbar-nav navbar-right">
                <li ng-show="isLoggedIn"><a class="nav-item nav-link active" ng-href="/">Home</a></li>
                <li ng-show="isLoggedIn"><a class="nav-item nav-link active" ng-href="#!/search">Add Food</a></li>
                <li ng-show="isLoggedIn"><a class="nav-item nav-link active" ng-href="#!/progress">Progress</a></li>
                <li ng-show="isLoggedIn"><a class="nav-item nav-link active" ng-click="logout()" ng-href="#!/login">Logout</a></li>
                <li ng-show="!isLoggedIn"><a class="nav-item nav-link active" ng-href="#!/login">Login</a></li>
            </ul>
    </div>
    <h1 class="al-center slide-top animate home-title"><span class="grad-yellow text">Macromaniac Nutrition</span></h1>
</nav>
