<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="NavCtrl">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">PROFILE</a>
        <a class="nav-item nav-link" href="#">PROGRESS</a>
        <a class="nav-item nav-link" href="#">SIGN IN</a>
        </div>
    </div>
</nav>