<h1>User Profile</h1>

<div>
    <h4>Create your profile</h4>
    <form>
        <input class="form-control form-control-sm" type="text" ng-model="userProfile.firstName" placeholder="First Name">
        <br>
        <input class="form-control form-control-sm" type="text" ng-model="userProfile.lastName" placeholder="Last Name">
        <br>
        <input class="form-control form-control-sm" type="number" ng-model="userProfile.age" placeholder="Age">
        <br>
        <input class="form-control form-control-sm" type="number" ng-model="userProfile.weight" placeholder="Weight">
        <br>
        <input class="form-control form-control-sm" type="number" ng-model="userProfile.calGoal" placeholder="Daily caloric goal">
        <br>
    </form>
    <button class="btn btn-default" ng-click="saveProfile()">Submit Your Profile!</button>
</div>



