<h3>Create an account</h3>
<form class="auth-form register">
    <div>
        <input class="form-control" type="text" autofocus="true" ng-model="account.email" placeholder="Email Address">
    </div>
    <div>
        <input class="form-control" type="password" ng-model="account.password" placeholder="Password">
    </div>
    <div>
        <button id="regBtn" class="btn btn-default" ng-click="register()">Register</button>
    </div>
</form>
<div>
        <h3>I have an account</h3>
        <p><a >Sign in</a></p>
    </div>