
<h1>Search Foods</h1>
<form ng-submit="searchFoods()">
    <input class="form-control form-control-sm" type="text" placeholder="What have you eaten today?" ng-model="searchBar">
    <button class="btn btn-default" type="submit">Search</button>
</form>

<div>
    <h4>If you have manually counted your calories and macros, use this form to update your profile:</h4>
    <form ng-submit="addNutrients()">
        Date: 
        <div moment-picker="myDate"> </div>
        <div class="input-group form-control"
             moment-picker="ctrl.datepicker"
             format="L"
             min-view="month"
             max-view="day"
             today="true"
             set-on-select="true"
             change="formatDate(newValue._i)"
             >
            <!-- <span class="input-group-addon">
                <i class="octicon octicon-calendar"></i>
            </span> -->
            <input class="form-control"
                   placeholder="Select a date"
                   ng-model="ctrl.datepicker"
                   ng-model-options="{ updateOn: 'blur' }">
        </div><br>
        <input class="form-control form-control-sm" type="number" ng-model="consumedToday.calories" placeholder="Calories..."> <br>
        <input class="form-control form-control-sm" type="number" ng-model="consumedToday.protein" placeholder="Protein..."><br>
        <input class="form-control form-control-sm" type="number" ng-model="consumedToday.fat" placeholder="Fats..."><br>
        <input class="form-control form-control-sm" type="number" ng-model="consumedToday.carbs" placeholder="Carbohydrates...">
        <button type="submit" class="btn btn-default">Add Nutrients</button>
    </form>
</div>

<h4>Progress</h4>
<div id="graphContainer">
        <!-- PIE -->
        <div id="pieContainer" ng-model="pieChart">
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="pieData" chart-labels="pieLabels">
            </canvas>
        </div>
    <!-- LINE -->
        <div id="lineContainer">
            <canvas id="line" class="chart chart-line" chart-data="lineData" chart-labels="lineLabels" chart-series="lineSeries" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
</div>

<form id="foodCard">
    <ul>
        <li ng-repeat="food in foods | filter: searchBar">
            <h3>{{food.fields.brand_name}},</h3>
            <h3>{{food.fields.item_name}}:</h3>
                Calories: <div ng-model="consumedToday.calories">{{food.fields.nf_calories}}</div>
                Protein: <div ng-model="consumedToday.protein">{{food.fields.nf_protein}}</div>
                Fat: <div ng-model="consumedToday.fat">{{food.fields.nf_total_fat}}</div>
                Carbohydrates: <div ng-model="consumedToday.carbs">{{food.fields.nf_total_carbohydrate}}</div>
                <button type="submit" class="btn btn-default" ng-click=addDbNutrients(food.fields)>Add Nutrients</button>
        </li>
    </ul>
</form>










